*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: verdana;
}
.container{
    height: 100vh;
    color: #fff;
    display: grid;
    grid-template-areas: 'Navbar Navbar Navbar'
                        'sidebar main main'
                        'sidebar box1 box2'
                        'sidebar footer footer';
                        grid-gap: .6rem;
                        text-align: center;
                        font-size: 2rem;
                        grid-template-columns: 0.8fr 1fr 1fr;
                        grid-template-rows: 0.8fr 2.5fr 1.5fr 0.8fr;
}
nav{
    background-color: crimson;
    grid-area: Navbar;
}
.main{
    background-color: #16a085;
    grid-area: main;
}
.sidebar{
    background-color: #13135e;
    grid-area: sidebar;
}
.box1{
    grid-area: box1;
    background-color: #31b317;
}
.box2{
    grid-area: box2;
    background-color: #eed811;
}
footer{
    grid-area: footer;
    background-color: #000000d3;
}
@media(max-width: 640px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1.2fr .5fr 1fr .5fr;
        grid-template-areas: 'Navbar'
                              'main'
                              'sidebar'
                              'box1'
                              'box2'
                              'footer';
    }
}